*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/CountriesApp.iml
/gradlew
/gradlew.bat
/build/
/data/build/
/data/data.iml
/domain/domain.iml
libs/
src/main/res/drawable/
/app/build/
/app/app.iml
/domain/build/
